@import variables
@import pushy

@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700|Roboto:300,400,700&display=swap&subset=cyrillic')

$black: #363636

img
  max-width: 100%

*
  font-family: 'Roboto', sans-serif;

h1, h2, h3, h4, h5, h6
  text-transform: uppercase
  font-family: 'Roboto Condensed', sans-serif
  line-height: 1.4
  font-weight: bold
  *
    font-family: inherit

h1
  margin-bottom: 30px

h2
  margin-top: 30px
  margin-bottom: 15px

h4
  margin-bottom: 15px

div, p, li
  font-size: 18px
  font-weight: 300

ul li a
  color: $black
  font-weight: 300

.breadcrumb-item
  font-size: 14px
  a
    color: $black

main
  padding-top: 36px

header
  // padding-bottom: 30px
  a
    color: $black
    &:hover
      color: $black

  div, p, li
    font-size: 18px
    font-weight: 400

  #toggle-button
    background: $black
    padding: 5px
  .menu-btn
    background: none
    border: none
    color: white

  .logo-pre
    font-size: 20px

  .header_bottom_hr
    margin: 20px 0 35px

  address
    margin-bottom: 5px
    a
      color: $black
      // text-decoration: underline
      font-size: 15px

  .phone, .email
    color: $black
    font-weight: bold

  .top_menu
    display: flex
    justify-content: space-between
    .menu-item
      &.current_page_item a
        color: grey
        &:hover
          text-decoration: none
    .nav-link
      color: $black
      font-weight: bold
      font-size: 16px
      padding: .9rem .1rem 0
      text-transform: uppercase
      text-decoration: none
      &:hover
        text-decoration: underline
    

#sidebar
  .navbar
    padding: 0

#menu-aside
  flex-direction: column

.table-bordered th
  font-size: 14px
.table-bordered td
  font-size: 12px

.btn-link
  font-size: 18px
  color: $black

.sub-menu
  display: none

.current-page-parent, .current_page_item
  .sub-menu
    display: block

.current_page_item > a 
  font-weight: bold
  text-decoration: underline

footer
  a
    color: $black
    &:hover
      text-decoration: underline
  hr
    margin: 20px 0

  .footer_menu

  .copyright
    font-size: 12px


.send-order-result
  display: none